/.venv
__pycache__

/playground
/preset_figures/

TODO.md
run_ch5.py

/experiments/

# LaTeX temporary and build files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.lof
*.lot
*.log
*.out
*.toc
*.synctex.gz
*.xdv
*.run.xml
*-blx.bib
*.synctex(busy)
*.bcf